// Typography
:root {
    --font-base: 16px;
}

$font-family: 'Poppins',
sans-serif;
$header-height: toRem(120px);
$font-sm: toRem(14px);
$font-lg: toRem(18px);
$font-xl: toRem(20px);
$font-2xl: toRem(24px);
$font-3xl: toRem(36px);
$font-4xl: toRem(48px);
$font-5xl: toRem(64px);

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Color
$white: #fff;
$black: #000;
$black-75: lighten($black, 75%);
$black-50: lighten($black, 50%);
$blue: #3E86F5;