// For small devices
@media screen and (min-width: 768px) {
  .header .booking {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1140px) {
  .header .booking {
    top: calc(100% - 120px);

    &__content {
      grid-template-columns: 1fr 1fr 0.5fr;
      align-items: center;
    }
  }

  .upcoming {
    padding-top: 24rem;

    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .travel {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;

    &__content {
      text-align: left;
    }

    &__image {
      order: -1;
      padding-right: 20px;
    }
  }

  .destination {
    &__content {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .discount {
    &__title {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;

    &__menu {
      flex-direction: row;
      column-gap: 30px;
    }
  }
}
