* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-base);
    background-color: var(--background-color);
    font-weight: var(--medium);

    @media screen and (min-width: 576px) {
        --font-base: 18px;

    }
}

h1 {
    font-size: var(--font-3xl);
    font-weight: var(--semi-bold);

    @media screen and (min-width: 768px) {
        font-size: var(--font-5xl);
    }
}

h2 {
    font-size: var(--font-3xl);
    font-weight: var(--semi-bold);

    @media screen and (min-width: 768px) {
        font-size: var(--font-4xl);
    }
}

h5 {
    font-size: var(--font-2xl);
    font-weight: var(--semi-bold);
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: var(--font-2xl);
    font-weight: var(--medium);
}

ul,
li {
    list-style: none;
}